/* Global styles for full-screen visualization */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#graph {
    width: 100%;
    height: 100%;
}

/* Specific styles for graph elements */

.root {
    stroke: #000;
    stroke-width: 2px;
}


.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .8;
}

.group {
    stroke: #fff;
    stroke-width: 1.5px;
    opacity: 0.2;
}
