html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#graph {
    width: 100%;
    height: 100%;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.label-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.label {
    position: absolute;
    font-size: 10px;
    color: #333;
    pointer-events: none;
}

.label.highlight {
    font-weight: bold;
    color: #ff5722;
}


.link {
    stroke: #999;
    stroke-opacity: .8;
}

.group {
    stroke: #fff;
    stroke-width: 1.5px;
    opacity: 0.2;
}

